.nav {
    left: 0;
    top: 0;
    padding: 10px 90px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background:  rgba(0,0,0,0.5);
    margin-top: 0;

  }

.logo{
    margin-top: -10px;
    margin-left: 0px;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    top: 100%;
    margin-top: -85px;

    
}

/* li {
    float: right;
    margin-top: 30px;
} */

.nav a li {
    width: 150px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 100%;
    
}

a:hover {
    background: #669900;
    transition: 0.6s;
}

.active {
    background: red;
   
  }


.bigfoot {
    position: relative;
    width: 100%;
    height: 100px;
    max-height: 100%;
    background:  rgba(0,0,0,0.5);
    margin-top: 75px;

  }

.smallfoot {
    width: 150px;
    color: white;
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: right;
    margin-top: 0px;
    margin-right: 850px;
    text-justify: auto;
}

/* button
{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: green;
    color: #fff;

} */

.addy {
  margin-top: 20px;
  margin-left: 5px;
  padding: 5px;
  display: flex;
  flex: 33%;
  float: left;
}

#input-container
{
    position: absolute;
    top: 4%;
    left: 32%;
    margin-right:40px;
    transform: translate(-50%,-50%);
    background-color:transparent;
    width: 500px;
}

input
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    border-radius: 0;
}
input[id="fname"]
{
    background: white;
    width: 340px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border: 1px solid black;
    border-radius: 0;
}

button
{
    position: relative;
    left: -5px;
    /* border-radius: 0 25px 25px 0; */
    width: 230px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #DAA520;
    color: #fff;

}

.btnMain {
    width: 90px;
    height: 38px;
    border: none;
    outline: none;
    cursor: pointer;
    background:green;
}


.btnMain:hover {
    background: #ff0000;
}

input + .btnMain {
    margin: 0 25px;
   }

.aboutText1 {
        text-decoration: underline;
        font-weight: bold;
        font-family: "Lucida Console", "Monaco", "monospace";
        text-align: center;
}

.aboutText {
    color:black;
    font-family: "Lucida Console", "Monaco", "monospace";
}

.profile {
    display: flex;
    flex-direction: column;
    }

.prof{
    list-style: none;
    height: 250px;
    border:1px solid blueviolet;
    box-sizing: border-box;
    flex-wrap: wrap;
    background: #DAA520;

}

.prof .pro {
    width: 150px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:1px solid blueviolet;
    box-sizing: border-box;
    flex-wrap: wrap;
}